
$headerHeight: 72px;
$iconBarWidth: 80px;
$menuWidth: 336px;
$menuBackground: #fafafa;
$iconBackground: #f0f2f5;
$fontColor1: #000;
$fontColor2: #262626;
$fontColor3: #585858;
$fontColor4: #8c8c8c;
$fontColor5: #bebebe;
$activeColor: #1890ff;
$borderColor: rgb(244, 244, 244);
$transitionTime: 0.6s;
$breadcrumbHeight: 98px;
$mapPageMenuWidth: 256px;
$mapPageCloseMenuWidth: 70px;





