@font-face {
  font-family: "iconfont"; /* Project id 5195653 */
  src: url('iconfont.woff2?t=1781690294497') format('woff2'),
       url('iconfont.woff?t=1781690294497') format('woff'),
       url('iconfont.ttf?t=1781690294497') format('truetype');
}

.iconfont-normal {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-settings:before {
  content: "\e623";
}

.icon-scan:before {
  content: "\e67d";
}

.icon-camera-z:before {
  content: "\e665";
}

.icon-woman:before {
  content: "\e624";
}

.icon-man:before {
  content: "\e625";
}

.icon-musical-note:before {
  content: "\e6cf";
}

.icon-add-friend:before {
  content: "\e650";
}

.icon-visitor:before {
  content: "\e626";
}

.icon-more-z:before {
  content: "\e627";
}

.icon-filter-z:before {
  content: "\e649";
}

.icon-reverse:before {
  content: "\e75c";
}

.icon-book:before {
  content: "\e68d";
}

.icon-bell-z:before {
  content: "\e658";
}

.icon-wifi-left:before {
  content: "\e8c1";
}

.icon-baby:before {
  content: "\e61a";
}

.icon-right-fold-up:before {
  content: "\e61b";
}

.icon-review:before {
  content: "\fb68";
}

.icon-left-fold-up:before {
  content: "\e61c";
}

.icon-yuanyonghu:before {
  content: "\e6fc";
}

.icon-new-baby:before {
  content: "\e648";
}

.icon-wifi-right:before {
  content: "\fb6a";
}

.icon-encryption:before {
  content: "\e7b2";
}

.icon-close-eye:before {
  content: "\ea39";
}

.icon-question-mark:before {
  content: "\e606";
}

.icon-position-z:before {
  content: "\e607";
}

.icon-direct:before {
  content: "\e608";
}

.icon-truck:before {
  content: "\e609";
}

.icon-circle:before {
  content: "\e60a";
}

.icon-home:before {
  content: "\e60b";
}

.icon-shopping-cart-z:before {
  content: "\e60c";
}

.icon-preview:before {
  content: "\e60d";
}

.icon-compress:before {
  content: "\e60e";
}

.icon-full-screen-z:before {
  content: "\e60f";
}

.icon-tuopu:before {
  content: "\e611";
}

.icon-heart-evaluation:before {
  content: "\e613";
}

.icon-tooth:before {
  content: "\e618";
}

.icon-like-fill:before {
  content: "\e6ce";
}

.icon-revoke:before {
  content: "\e640";
}

.icon-interaction:before {
  content: "\e6a9";
}

.icon-send-error:before {
  content: "\e69c";
}

.icon-go-back:before {
  content: "\e641";
}

.icon-xiao-xi:before {
  content: "\e614";
}

.icon-dialogue:before {
  content: "\e7aa";
}

.icon-user-z:before {
  content: "\e621";
}

.icon-del:before {
  content: "\e612";
}

.icon-no-data:before {
  content: "\e617";
}

.icon-message-z:before {
  content: "\e8c5";
}

.icon-pen:before {
  content: "\e601";
}

.icon-rubber:before {
  content: "\e61d";
}

.icon-delete-fill:before {
  content: "\e6cd";
}

.icon-star-z:before {
  content: "\e629";
}

.icon-user-edit:before {
  content: "\e64f";
}

.icon-fa-image:before {
  content: "\e600";
}

.icon-conversation:before {
  content: "\e657";
}

.icon-cancel-send:before {
  content: "\e71d";
}

.icon-comments:before {
  content: "\e602";
}

.icon-fa-edit:before {
  content: "\e603";
}

.icon-fa-close:before {
  content: "\e610";
}

.icon-fa-cloud-upload:before {
  content: "\e615";
}

.icon-fa-bookmark:before {
  content: "\e604";
}

.icon-fa-paper-plane:before {
  content: "\e605";
}

.icon-video-fill:before {
  content: "\e7c7";
}

.icon-video:before {
  content: "\e65e";
}

.icon-audio:before {
  content: "\e63b";
}

.icon-ear-cup:before {
  content: "\e695";
}

.icon-horn:before {
  content: "\e672";
}

.icon-recording:before {
  content: "\e616";
}

