@font-face {
  font-family: "zh-iconfont-normal"; /* Project id 5195653 */
  src: url('iconfont.woff2?t=1781761693455') format('woff2'),
       url('iconfont.woff?t=1781761693455') format('woff'),
       url('iconfont.ttf?t=1781761693455') format('truetype');
}

.zh-iconfont-normal {
  font-family: "zh-iconfont-normal" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-n-settings:before {
  content: "\e623";
}

.icon-n-scan:before {
  content: "\e67d";
}

.icon-n-camera:before {
  content: "\e665";
}

.icon-n-woman:before {
  content: "\e624";
}

.icon-n-man:before {
  content: "\e625";
}

.icon-n-musical-note:before {
  content: "\e6cf";
}

.icon-n-add-friend:before {
  content: "\e650";
}

.icon-n-visitor:before {
  content: "\e626";
}

.icon-n-more:before {
  content: "\e627";
}

.icon-n-filter:before {
  content: "\e649";
}

.icon-n-reverse:before {
  content: "\e75c";
}

.icon-n-book:before {
  content: "\e68d";
}

.icon-n-bell:before {
  content: "\e658";
}

.icon-n-wifi-left:before {
  content: "\e8c1";
}

.icon-n-baby:before {
  content: "\e61a";
}

.icon-n-right-fold-up:before {
  content: "\e61b";
}

.icon-n-review:before {
  content: "\fb68";
}

.icon-n-left-fold-up:before {
  content: "\e61c";
}

.icon-n-yuanyonghu:before {
  content: "\e6fc";
}

.icon-n-new-baby:before {
  content: "\e648";
}

.icon-n-wifi-right:before {
  content: "\fb6a";
}

.icon-n-encryption:before {
  content: "\e7b2";
}

.icon-n-close-eye:before {
  content: "\ea39";
}

.icon-n-question-mark:before {
  content: "\e606";
}

.icon-n-position:before {
  content: "\e607";
}

.icon-n-direct:before {
  content: "\e608";
}

.icon-n-truck:before {
  content: "\e609";
}

.icon-n-circle:before {
  content: "\e60a";
}

.icon-n-home:before {
  content: "\e60b";
}

.icon-n-shopping-cart:before {
  content: "\e60c";
}

.icon-n-preview:before {
  content: "\e60d";
}

.icon-n-compress:before {
  content: "\e60e";
}

.icon-n-full-screen:before {
  content: "\e60f";
}

.icon-n-tuopu:before {
  content: "\e611";
}

.icon-n-heart-evaluation:before {
  content: "\e613";
}

.icon-n-tooth:before {
  content: "\e618";
}

.icon-n-like-fill:before {
  content: "\e6ce";
}

.icon-n-revoke:before {
  content: "\e640";
}

.icon-n-interaction:before {
  content: "\e6a9";
}

.icon-n-send-error:before {
  content: "\e69c";
}

.icon-n-go-back:before {
  content: "\e641";
}

.icon-n-xiao-xi:before {
  content: "\e614";
}

.icon-n-dialogue:before {
  content: "\e7aa";
}

.icon-n-user:before {
  content: "\e621";
}

.icon-n-del:before {
  content: "\e612";
}

.icon-n-message:before {
  content: "\e8c5";
}

.icon-n-pen:before {
  content: "\e601";
}

.icon-n-rubber:before {
  content: "\e61d";
}

.icon-n-delete-fill:before {
  content: "\e6cd";
}

.icon-n-star:before {
  content: "\e629";
}

.icon-n-user-edit:before {
  content: "\e64f";
}

.icon-n-fa-image:before {
  content: "\e600";
}

.icon-n-conversation:before {
  content: "\e657";
}

.icon-n-cancel-send:before {
  content: "\e71d";
}

.icon-n-comments:before {
  content: "\e602";
}

.icon-n-fa-edit:before {
  content: "\e603";
}

.icon-n-fa-close:before {
  content: "\e610";
}

.icon-n-fa-cloud-upload:before {
  content: "\e615";
}

.icon-n-fa-bookmark:before {
  content: "\e604";
}

.icon-n-fa-paper-plane:before {
  content: "\e605";
}

.icon-n-video-fill:before {
  content: "\e7c7";
}

.icon-n-video:before {
  content: "\e65e";
}

.icon-n-audio:before {
  content: "\e63b";
}

.icon-n-ear-cup:before {
  content: "\e695";
}

.icon-n-horn:before {
  content: "\e672";
}

.icon-n-recording:before {
  content: "\e616";
}

