@font-face {
  font-family: "zh-iconfont-color"; /* Project id 5195922 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1782873734639') format('woff2'),
       url('iconfont.woff?t=1782873734639') format('woff'),
       url('iconfont.ttf?t=1782873734639') format('truetype');
}

.zh-iconfont-color {
  font-family: "zh-iconfont-color" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-c-airplane:before {
  content: "\e692";
}

.icon-c-no-data:before {
  content: "\e616";
}

.icon-c-car:before {
  content: "\e664";
}

.icon-c-upload:before {
  content: "\e619";
}

.icon-c-pdf-fill:before {
  content: "\e733";
}

.icon-c-download:before {
  content: "\e639";
}

.icon-c-zhihui:before {
  content: "\e65b";
}

.icon-c-ppt:before {
  content: "\e62b";
}

.icon-c-excel:before {
  content: "\e808";
}

.icon-c-pdf:before {
  content: "\e809";
}

.icon-c-ofd:before {
  content: "\e82b";
}

.icon-c-dissatisfied:before {
  content: "\e61e";
}

.icon-c-general:before {
  content: "\e61f";
}

.icon-c-very-satisfied:before {
  content: "\e620";
}

.icon-c-satisfaction:before {
  content: "\e622";
}

.icon-c-ppt-fill:before {
  content: "\e6a3";
}

.icon-c-ofd-fill:before {
  content: "\e7c1";
}

.icon-c-word-fill:before {
  content: "\e62a";
}

.icon-c-excel-fill:before {
  content: "\e628";
}

